@mixin block-columns(
    $columns-margin-bottom: $measure*4
) {
    .wp-block-columns{
        margin-bottom: $columns-margin-bottom;
        .wp-block-column{
            display: flex;
            flex-basis: 0 !important;
            flex-grow: 1;
            @media all and ($viewport-type: $tablets) {
                flex-basis: 100% !important;
                flex-wrap: wrap !important;
            }
        }
    }
}