@mixin block-image(
    $image-block-margin-bottom: $measure * 5,
    $image-text-aligned-margin-x: $measure * 5,
    $img-border-radius: false
) {
    figure {
        display: block;
        width: fit-content;
        margin: 0 auto $image-block-margin-bottom;
        img {
            margin: 0;
            display: block;
            @if $img-border-radius {
                border-radius: $img-border-radius;
            }
        }
        &.alignleft {
            float: left;
            margin-right: $image-text-aligned-margin-x;
        }
        &.alignright {
            float: right;
            margin-left: $image-text-aligned-margin-x;
        }
        &.aligncenter {
            margin-left: auto;
            margin-right: auto;
        }
    }
    div {
        margin: 0;
        figure {
            margin-top: 0;
            margin-bottom: $image-block-margin-bottom;
            img {
                margin: 0;
                display: block;
            }
        }
    }
}
