@mixin paragraphs(
  $text-font,
  $bold-font-weight,
  $paragraphs-margin-bottom: $measure * 4,
  $paragraphs-before-lists-margin-bottom: $measure * 3,
  $text-font-weight: false,
) {
  & > p {
    @extend .f--font-#{$text-font} !optional;
    @if $text-font-weight {
      font-weight: $text-font-weight;
    }
    margin-bottom: $paragraphs-margin-bottom;
    &:has(
      + ul,
      + ol
    ){
      margin-bottom: $paragraphs-before-lists-margin-bottom; //* margin if the next element is ul or ol
    }
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: $bold-font-weight;
  }
}

@mixin paragraphs-modifier(
  $text-color
) {
  & > p {
    color: $text-color;
  }
}
