@mixin block-quote(
    $quote-font,
    $quote-font-style,
    $cite-font,
    $cite-font-style,
    $quote-padding: $measure * 3 0,
    $quote-margin-top: $measure*5,
    $quote-margin-bottom: $measure*6,
    $cite-margin-top: $measure*3,
    $quote-font-weight: false,
    $cite-font-weight: false,
){
    .wp-block-quote, blockquote {
        padding: $quote-padding;
        margin-top: $quote-margin-top;
        margin-bottom: $quote-margin-bottom;
        p{
            @extend .f--font-#{$quote-font} !optional;
            @if $quote-font-weight {
                font-weight: $quote-font-weight;
            }
            font-style: $quote-font-style;
        }
        cite{
            display: block;
            @extend .f--font-#{$cite-font} !optional;
            @if $cite-font-weight {
                font-weight: $cite-font-weight;
            }
            font-style: $cite-font-style;
            margin-top: $cite-margin-top;
        }
    }
}

@mixin block-quote-modifier(
    $quote-color,
    $cite-color,
    $border-color,
    $border-width,
) {
    .wp-block-quote, blockquote {
        border-top: $border-width solid $border-color; 
        border-bottom: $border-width solid $border-color;

        p{
            color: $quote-color;
        }
        cite{
            color: $cite-color;
        }
    }
}