@mixin block-quote(
    $quote-font,
    $quote-font-style,
    $quote-padding: $measure * 3 0,
    $quote-margin-top: $measure * 5,
    $quote-margin-bottom: $measure * 6,
    $quote-font-weight: false
) {
    blockquote {
        padding: $quote-padding;
        margin-top: $quote-margin-top;
        margin-bottom: $quote-margin-bottom;
        @extend .f--font-#{$quote-font} !optional;
        @if $quote-font-weight {
            font-weight: $quote-font-weight;
        }
        font-style: $quote-font-style;
    }
}

@mixin block-quote-modifier($quote-color, $border-color, $border-width) {
    blockquote {
        border-top: $border-width solid $border-color;
        border-bottom: $border-width solid $border-color;
        color: $quote-color;
    }
}
