@mixin block-footnote(
    $text-font,
    $footnote-margin-bottom: $measure * 2,
    $text-font-weight: false,
){
    & > .footnote{
        margin-bottom: $footnote-margin-bottom;
        @extend .f--font-#{$text-font} !optional;
        @if $text-font-weight {
            font-weight: $text-font-weight;
        }
    }
}

@mixin block-footnote-modifier(
    $text-color
) {
    .footnote{
        color: $text-color;
    }
}