@mixin lists(
  $text-font,
  $first-number-width,
  $first-level-artwork-width,
  $first-level-artwork-top,
  $lists-margin-bottom: $measure * 4,
  $lists-items-margin-bottom: $measure * 2,
  $second-level-artwork-width: false,
  $second-level-artwork-top: false,
  $third-level-artwork-width: false,
  $third-level-artwork-top: false,
  $text-font-weight: false,
) {
  ul,
  ol {
    list-style: none;
    margin-bottom: $lists-margin-bottom; //* list margin
    li {
      margin-bottom: $lists-items-margin-bottom; //* list items margin
      @extend .f--font-#{$text-font} !optional;
      @if $text-font-weight {
        font-weight: $text-font-weight;
      }
    }
  }
  ul {
    > li {
      position: relative;
      padding-left: calc(#{$measure*2} + #{$first-level-artwork-width}); //* space between artwork and text + artwork width
      &:before {
        content: "";
        width: $first-level-artwork-width;
        height: $first-level-artwork-width;
        position: absolute;
        top: $first-level-artwork-top;
        left: 0;
      }
      //* Nested ul
      ul{
        margin-top: $lists-items-margin-bottom;
        @if $second-level-artwork-width or $second-level-artwork-top or $third-level-artwork-width or $third-level-artwork-top {
          > li{
            @if $second-level-artwork-width{
              padding-left: calc(#{$measure*2} + #{$second-level-artwork-width}); //* space between artwork and text + artwork width
              &::before{
                width: $second-level-artwork-width;
                height: $second-level-artwork-width;
              }
            }
            @if $second-level-artwork-top{
              &::before{
                top: $second-level-artwork-top;
              }
            }
            @if $third-level-artwork-width or $third-level-artwork-top{
              ul{
                > li{
                  @if $third-level-artwork-width{
                    padding-left: calc(#{$measure*2} + #{$third-level-artwork-width}); //* space between artwork and text + artwork width
                    &::before{
                      width: $third-level-artwork-width;
                      height: $third-level-artwork-width;
                    }
                  }
                  @if $third-level-artwork-top{
                    &::before{
                      top: $third-level-artwork-top;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  ol {
    counter-reset: item;
    > li{
      position: relative;
      padding-left: calc(#{$measure*2} + #{$first-number-width}); //* space between number and text + number width
      &::before{
        content: counters(item, ".") ".";
        counter-increment: item;
        position: absolute;
        top: 0;
        left: 0;
      }
      //* Nested ol
      ol{
        margin-top: $lists-items-margin-bottom;
        > li{
          padding-left: calc(#{$measure*2} + #{$first-number-width*2}); //* space between number and text + number width
          ol{
            > li{
              padding-left: calc(#{$measure*2} + #{$first-number-width*3}); //* space between number and text + number width
              ol{
                > li{
                  padding-left: calc(#{$measure*2} + #{$first-number-width*4}); //* space between number and text + number width
                  ol{
                    > li{
                      padding-left: calc(#{$measure*2} + #{$first-number-width*5}); //* space between number and text + number width
                      ol{
                        > li{
                          padding-left: calc(#{$measure*2} + #{$first-number-width*6}); //* space between number and text + number width
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@mixin lists-modifier(
  $text-color,
  $number-color,
  $first-level-artwork-image: false,
  $first-level-artwork-border-radius: false,
  $first-level-artwork-background: false,
  $first-level-artwork-border-width: false,
  $first-level-artwork-border-color: false,
  $second-level-artwork-image: false,
  $second-level-artwork-border-radius: false,
  $second-level-artwork-background: false,
  $second-level-artwork-border-width: false,
  $second-level-artwork-border-color: false,
  $third-level-artwork-image: false,
  $third-level-artwork-border-radius: false,
  $third-level-artwork-background: false,
  $third-level-artwork-border-width: false,
  $third-level-artwork-border-color: false,
) {
  ul,
  ol {
    li {
      color: $text-color;
    }
  }
  ul {
    > li {
      &:before {
        @if $first-level-artwork-image{
          background: url(#{$first-level-artwork-image});
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        } @else {
          @if $first-level-artwork-background {
            background: $first-level-artwork-background;
          }
          @if $first-level-artwork-border-width and $first-level-artwork-border-color{
            border: $first-level-artwork-border-width solid $first-level-artwork-border-color;
          }
        }
        @if $first-level-artwork-border-radius{
          border-radius: $first-level-artwork-border-radius;
        }
      }
      ul {
        > li {
          &:before {
            @if $second-level-artwork-image{
              background: url(#{$second-level-artwork-image});
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
            } @else {
              @if $second-level-artwork-background {
                background: $second-level-artwork-background;
                border: none;
              }
              @if $second-level-artwork-border-width and $second-level-artwork-border-color{
                background: transparent;
                border: $second-level-artwork-border-width solid $second-level-artwork-border-color;
              }
            }
            @if $second-level-artwork-border-radius{
              border-radius: $second-level-artwork-border-radius;
            }
          }
          ul {
            > li {
              &:before {
                @if $third-level-artwork-image{
                  background: url(#{$third-level-artwork-image});
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                } @else {
                  @if $third-level-artwork-background {
                    background: $third-level-artwork-background;
                    border: none;
                  }
                  @if $third-level-artwork-border-width and $third-level-artwork-border-color{
                    background: transparent;
                    border: $third-level-artwork-border-width solid $third-level-artwork-border-color;
                  }
                }
                @if $third-level-artwork-border-radius{
                  border-radius: $third-level-artwork-border-radius;
                }
              }
            }
          }
        }
      }
    }
  }
  ol {
    > li {
      &:before {
        color: $number-color;
      }
    }
  }
}