@mixin block-image(
    $image-block-margin-bottom: $measure * 5,
    $image-text-aligned-margin-x: $measure * 5,
    $img-border-radius: false,
    $size-small: 25%,
    $size-medium: 50%,
) {
    figure {
        display: block;
        width: fit-content;
        margin: 0 auto $image-block-margin-bottom;
        img {
            margin: 0;
            display: block;
            @if $img-border-radius {
                border-radius: $img-border-radius;
            }
            &.c--content-media--small {
                width: $size-small;
            }
            &.c--content-media--medium {
                width: $size-medium;
            }
        }
    }
}
