@mixin block-separator(
    $separator-margin: $measure * 6 0
){
    .wp-block-separator{
        width: 100%;
        display: block;
        margin: $separator-margin;
        border: none;
    } 
}

@mixin block-separator-modifier(
    $separator-width,
    $separator-color
) {
    .wp-block-separator{
        border-bottom: $separator-width solid $separator-color;
    } 
}