@mixin headings(
    $h2-font,
    $h3-font,
    $h4-font,
    $h5-font,
    $h6-font,
    $h2-padding-top: $measure*5,
    $h2-margin-bottom: $measure*3,
    $h3-padding-top: $measure*5,
    $h3-margin-bottom: $measure*3,
    $h4-padding-top: $measure*5,
    $h4-margin-bottom: $measure*2,
    $h5-padding-top: $measure*5,
    $h5-margin-bottom: $measure*2,
    $h6-padding-top: $measure*5,
    $h6-margin-bottom: $measure,
    $h2-font-weight: false,
    $h2-font-weight-bold: false,
    $h3-font-weight: false,
    $h3-font-weight-bold: false,
    $h4-font-weight: false,
    $h4-font-weight-bold: false,
    $h5-font-weight: false,
    $h5-font-weight-bold: false,
    $h6-font-weight: false,
    $h6-font-weight-bold: false,
){
    & > h2{
        @extend .f--font-#{$h2-font} !optional;
        @if $h2-font-weight {
            font-weight: $h2-font-weight;
        }
        @if $h2-font-weight-bold {
            strong,
            b{
                font-weight: $h2-font-weight-bold;
            }
        }
        padding-top: $h2-padding-top;
        margin-bottom: $h2-margin-bottom;
    }
    & > h3{ 
        @extend .f--font-#{$h3-font} !optional;
        @if $h3-font-weight {
            font-weight: $h3-font-weight;
        }
        @if $h3-font-weight-bold {
            strong,
            b{
                font-weight: $h3-font-weight-bold;
            }
        }
        padding-top: $h3-padding-top;
        margin-bottom: $h3-margin-bottom;
    }
    & > h4{ 
        @extend .f--font-#{$h4-font} !optional;
        @if $h4-font-weight {
            font-weight: $h4-font-weight;
        }
        @if $h4-font-weight-bold {
            strong,
            b{
                font-weight: $h4-font-weight-bold;
            }
        }
        padding-top: $h4-padding-top;
        margin-bottom: $h4-margin-bottom;
    }
    & > h5 {
        @extend .f--font-#{$h5-font} !optional;
        @if $h5-font-weight {
            font-weight: $h5-font-weight;
        }
        @if $h5-font-weight-bold {
            strong,
            b{
                font-weight: $h5-font-weight-bold;
            }
        }
        padding-top: $h5-padding-top;
        margin-bottom: $h5-margin-bottom;
    }
    & > h6 {
        @extend .f--font-#{$h6-font} !optional;
        @if $h6-font-weight {
            font-weight: $h6-font-weight;
        }
        @if $h6-font-weight-bold {
            strong,
            b{
                font-weight: $h6-font-weight-bold;
            }
        }
        padding-top: $h6-padding-top;
        margin-bottom: $h6-margin-bottom;
    }
}

@mixin headings-modifier(
    $h2-color,
    $h3-color,
    $h4-color,
    $h5-color,
    $h6-color,
) {
    & > h2{   
        color: $h2-color;
    }
    & > h3{   
        color: $h3-color;
    }
    & > h4{   
        color: $h4-color;
    }
    & > h5{   
        color: $h5-color;
    }
    & > h6{   
        color: $h6-color;
    }
}