.c--content-a {
    @include block-btn(
        $btn-class: g--btn-01,
        // $btn-margin-bottom: $measure*4
    );
    @include block-btn-modifier(
        $btn-class-modifier: g--btn-01--second
    );

    @include block-columns(
        // $columns-margin-bottom: $measure*4
    );

    @include block-footnote(
        $text-font: g,
        $text-font-weight: 300,
        // $footnote-margin-bottom: $measure * 2,
    );
    @include block-footnote-modifier(
        $text-color: map-get($color-options, a)
    );

    @include block-highlighted(
        $text-font: c,
        // $highlighted-margin-bottom: $measure * 4,
        // $highlighted-padding-top: 0,
        // $text-font-weight: false,
    );
    @include block-highlighted-modifier(
        $text-color: map-get($color-options, a)
    );

    @include block-image(
        $caption-font: g,
        // $image-block-margin-bottom: $measure*5,
        // $image-text-aligned-margin-x: $measure*5,
        // $caption-margin-top: $measure*2,
        // $caption-font-weight: false,
        // $img-border-radius: false
    );
    @include block-image-modifier(
        $caption-color: map-get($color-options, a)
    );

    @include block-quote(
        $quote-font: c,
        $quote-font-style: italic,
        $cite-font: e,
        $cite-font-style: normal,
        // $quote-padding: $measure * 3 0,
        // $quote-margin-top: $measure*5,
        // $quote-margin-bottom: $measure*6,
        // $cite-margin-top: $measure*3,
        // $quote-font-weight: false,
        $cite-font-weight: 300,
    );
    @include block-quote-modifier(
        $quote-color: map-get($color-options, a), //* quote color
        $cite-color: map-get($color-options, a), //* cite color
        $border-color: map-get($color-options, e),
        $border-width: 1px,
    );

    @include block-separator(
        // $separator-margin: $measure * 6 0
    );
    @include block-separator-modifier(
        $separator-width: 1px,
        $separator-color: map-get($color-options, e),
    );

    @include block-table(
        $header-font: f,
        $body-rows-font: f,
        $caption-font: g,
        $header-font-weight: 600,
        // $other-rows-font-weight: false,
        // $caption-font-weight: false,
    );
    @include block-table-modifier(
        $header-border-width: 1px, //* header border
        $header-border-color: map-get($color-options, a), //* header border
        $body-rows-border-width: 1px, //* body rows border
        $body-rows-border-color: transparent, //* body rows border
        $header-background: map-get($color-options, a), //* header background
        $even-rows-background: map-get($color-options, d), //* even rows background
        $odd-rows-background: map-get($color-options, b), //* odd rows background (except the first one)
        $header-text-color: map-get($color-options, d), //* header text color
        $body-rows-text-color: map-get($color-options, a), //* body rows text color
        $caption-color: map-get($color-options, a) //* caption text color
    );

    @include block-video();

    @include headings(
        $h2-font: b,
        $h3-font: c,
        $h4-font: c,
        $h5-font: d,
        $h6-font: d,
        // $h2-padding-top: $measure*5,
        // $h2-margin-bottom: $measure*3,
        // $h3-padding-top: $measure*5,
        // $h3-margin-bottom: $measure*3,
        // $h4-padding-top: $measure*5,
        // $h4-margin-bottom: $measure*2,
        // $h5-padding-top: $measure*5,
        // $h5-margin-bottom: $measure*2,
        // $h6-padding-top: $measure*5,
        // $h6-margin-bottom: $measure,
        // $h2-font-weight: false,
        $h3-font-weight: 500,
        // $h4-font-weight: false,
        $h5-font-weight: 500,
        // $h6-font-weight: false,
    );
    @include headings-modifier(
        $h2-color: map-get($color-options, a),
        $h3-color: map-get($color-options, e),
        $h4-color: map-get($color-options, f),
        $h5-color: map-get($color-options, a),
        $h6-color: map-get($color-options, a),
    );

    @include links(
        $link-class: g--link-01
    );
    // @include links-modifier(
    //     $link-class-modifier: g--link-01--second
    // );

    @include lists(
        $text-font: f,
        $first-number-width: 16px,
        $first-level-artwork-width: $measure,
        $first-level-artwork-top: 13px,
        // $lists-margin-bottom: $measure * 4,
        // $lists-items-margin-bottom: $measure * 2,
        // $second-level-artwork-width: false,
        // $second-level-artwork-top: false,
        $third-level-artwork-width: 6px,
        // $third-level-artwork-top: false,
        // $text-font-weight: false,
    );
    @include lists-modifier(
        $text-color: map-get($color-options, a),
        $number-color: map-get($color-options, f),
        // $first-level-artwork-image: 'https://picsum.photos/20',
        // $first-level-artwork-border-radius: false,
        $first-level-artwork-background: map-get($color-options, f),
        // $first-level-artwork-border-width: false,
        // $first-level-artwork-border-color: false,
        // $second-level-artwork-image: false,
        // $first-level-artwork-border-radius: false,
        // $second-level-artwork-background: false,
        $second-level-artwork-border-width: 2px,
        $second-level-artwork-border-color: map-get($color-options, f),
        // $third-level-artwork-image: false,
        // $first-level-artwork-border-radius: false,
        // $third-level-artwork-background: false,
        $third-level-artwork-border-width: 1px,
        $third-level-artwork-border-color: map-get($color-options, g),
    );

    @include paragraphs(
        $text-font: f,
        $bold-font-weight: 600,
        // $paragraphs-margin-bottom: $measure * 4,
        // $paragraphs-before-lists-margin-bottom: $measure * 3,
        // $text-font-weight: false,
    );
    @include paragraphs-modifier(
        $text-color: map-get($color-options, a)
    );
    
    @include utilities(
        // $media-text-aligned-margin-x: $measure*5
    );

    & > h2:first-child,
    & > h3:first-child,
    & > h4:first-child,
    & > h5:first-child,
    & > h6:first-child,
    & > p:first-child  {   
        padding-top: 0;
    }
    *:last-child {
        margin-bottom: 0;
    }
}
