.c--content-a {


    @include block-image(
        $image-block-margin-bottom: $measure*5,
        // $img-border-radius: false,
        // $size-small: 25%,
        // $size-medium: 50%,    
    );


    @include block-quote(
        $quote-font: c,
        $quote-font-style: italic,
        // $quote-padding: $measure * 3 0,
        // $quote-margin-top: $measure*5,
        // $quote-margin-bottom: $measure*6,
        // $quote-font-weight: false,
    );
    @include block-quote-modifier(
        $quote-color: map-get($color-options, a), //* quote color
        $border-color: map-get($color-options, e),
        $border-width: 1px,
    );


    @include headings(
        $h2-font: a,
        $h3-font: b,
        $h4-font: c,
        $h5-font: d,
        $h6-font: d,
        // $h2-padding-top: $measure*5,
        // $h2-margin-bottom: $measure*3,
        // $h3-padding-top: $measure*5,
        // $h3-margin-bottom: $measure*3,
        // $h4-padding-top: $measure*5,
        // $h4-margin-bottom: $measure*2,
        // $h5-padding-top: $measure*5,
        // $h5-margin-bottom: $measure*2,
        // $h6-padding-top: $measure*5,
        // $h6-margin-bottom: $measure,
        // $h2-font-weight: false,
        $h3-font-weight: 500,
        $h4-font-weight: 500,
        $h5-font-weight: 900,
        // $h6-font-weight: false,
    );
    @include headings-modifier(
        $h2-color: map-get($color-options, a),
        $h3-color: map-get($color-options, a),
        $h4-color: map-get($color-options, a),
        $h5-color: map-get($color-options, e),
        $h6-color: map-get($color-options, f),
    );

    @include links(
        $link-class: g--link-01
    );
    @include links-modifier(
        $link-class-modifier: g--link-01--second
    );

    @include lists(
        $text-font: f,
        $first-number-width: 24px,
        $first-level-artwork-width: $measure,
        $first-level-artwork-top: 9px,
        // $lists-margin-bottom: $measure * 4,
        // $lists-items-margin-bottom: $measure * 2,
        // $second-level-artwork-width: false,
        // $second-level-artwork-top: false,
        $third-level-artwork-width: 6px,
        $third-level-artwork-top: 10px,
        // $text-font-weight: false,
    );
    @include lists-modifier(
        $text-color: map-get($color-options, a),
        $number-color: map-get($color-options, g),
        // $first-level-artwork-image: 'https://picsum.photos/20',
        // $first-level-artwork-border-radius: false,
        $first-level-artwork-background: map-get($color-options, f),
        // $first-level-artwork-border-width: false,
        // $first-level-artwork-border-color: false,
        // $second-level-artwork-image: false,
        // $first-level-artwork-border-radius: false,
        // $second-level-artwork-background: false,
        $second-level-artwork-border-width: 2px,
        $second-level-artwork-border-color: map-get($color-options, f),
        // $third-level-artwork-image: false,
        // $first-level-artwork-border-radius: false,
        // $third-level-artwork-background: false,
        $third-level-artwork-border-width: 1px,
        $third-level-artwork-border-color: map-get($color-options, g),
    );

    @include paragraphs(
        $text-font: f,
        $bold-font-weight: 600,
        $paragraphs-margin-bottom: $measure * 3,
        // $paragraphs-before-lists-margin-bottom: $measure * 3,
        // $text-font-weight: 400,
    );
    @include paragraphs-modifier(
        $text-color: map-get($color-options, a)
    );
    

    & > h2:first-child,
    & > h3:first-child,
    & > h4:first-child,
    & > h5:first-child,
    & > h6:first-child,
    & > p:first-child  {   
        padding-top: 0;
    }
    *:last-child {
        margin-bottom: 0;
    }
}
