.g--btn-01{
    @include make-btn-01(
        $border-width: 1px,
        $font: c,
    );
    @include make-btn-01-modifier(
        $border-color: map-get($color-options, a),
        $border-color-hover: map-get($color-options, g),
        $text-color: map-get($color-options, a),
        $text-color-hover: map-get($color-options, g),
        // $background-color: transparent,
        // $background-color-hover: map-get($color-options, a)
    );

    &--second {
        @include make-btn-01-modifier(
            $background-color: transparent,
            $background-color-hover: map-get($color-options, a),
            $border-color: map-get($color-options, a),
            $border-color-hover: map-get($color-options, a),
            $text-color: map-get($color-options, a),
            $text-color-hover: map-get($color-options, b),
        );
    }
}