@import "./_var/vars.scss";
@import "./_mixins/mixins.scss";
@import "./foundation/foundation.scss";

//* used components
@import "./components/link/g--link-01.scss";

//* c--content
@import "./mixins";
@import "./content/c--content-a.scss";